//colors

$dark-dim-blue: rgb(11, 13, 23);
$blueish-white: rgb(208, 214, 249);

$number-clr: rgb(70, 73, 81);
$number-clr2: rgb(87, 91, 102);

//typography

$mainFont: "Bellefair", serif;
$accentFont: "Barlow Condensed", sans-serif;

//transitioning

$t1: all 0.3s ease;
$t2: all 1s ease;
